<div class="row">
  <div class="col-sm-12">

    <div class="row" style="background-color: lightcoral;height: 50px;padding-top: 10px;">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <a routerLink="Home" style="text-decoration: none;color:lightslategray;">
        BMW
        </a>
      </div>
      <div class="col-sm-5">
        <a routerLink="Home" style="text-decoration: none;color:lightslategray;">Home</a>&nbsp;&nbsp;&nbsp;
        <a routerLink="create" style="text-decoration: none;color:lightslategray;">Create</a>
      </div>
      <div class="col-sm-3"></div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>

  <div class="row" style="background-color: lightcoral;height: 50px;padding-top: 10px;">
    <div class="col-sm-3"></div>
      <div class="col-sm-3">COpyRights</div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3"></div>
  </div>

  </div>
</div>